@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

#data tr {
    display: none;
}

#map_report {
    width: 100%;
    height: 300px;
    border: 0;
    overflow: hidden;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 20px auto;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100%;
    
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.friend .chat-message {
    background: #ccc;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.char-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.chat-form textarea:focus{
    background: #fff;
}

.chat-form::-webkit-scrollbar {
    width: 10px;
}

.chat-form::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat-form button {
    background: red;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover {
    background: #13c8d9;
}