<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="../static/img/favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {% if title %}
  <title>{{ title }} | Reporte GDL </title>
  {% else %}
  <title>Reporte GDL</title>
  {% endif %}
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!-- Bootstrap core CSS     -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/app.css" rel="stylesheet" />
  <!--  Material Dashboard CSS    -->
  <link href="../static/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body>
  <div class="wrapper">
    <div class="sidebar" data-color="red">
      <div class="logo">
        <a class="simple-text">Reporta GDL</a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          {% if active == 'maps' or current_user.is_anonymous%}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="{{ url_for('index') }}">
              <i class="material-icons">location_on</i>
              <p>Mapa</p>
            </a>
          </li>
          {% if current_user.is_authenticated %}
          {% if active == 'add_report' %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}  
            <a href="{{ url_for('create_report') }}">
              <i class="material-icons">note_add</i>
              <p>Crear Reporte</p>
            </a>
          </li>
          {% if active == 'user_reports' %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}  
            <a href="#">
              <i class="material-icons">content_paste</i>
              <p>Tus reportes</p>
            </a>
          </li>
          {% if active == 'chat' %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}  
            <a href="#">
              <i class="material-icons">chat</i>
              <p>Chat</p>
            </a>
          </li>
          {% if active == 'user_profile' %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}  
          <a href="{{ url_for( 'user', username=current_user.username ) }}">
              <i class="material-icons">account_box</i>
              <p>Perfil ({{current_user.username}})</p>
            </a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mapa Principal</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_anonymous %}
              <li>
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
              </li>
              <li>
                <a href="{{ url_for('register') }} ">Registrarse</a>
              </li>
              {% else %}
              <li>
                <a href="{{ url_for('logout') }}">Salir</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

<!--   Core JS Files   -->
<!-- Datepicker related links and scripts -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgFpj9NWGB5R2Bn22mlkohL1oD5-tp7Ys&language=es&region=MX&libraries=geometry&v=3" ></script>
<!-- Material Dashboard javascript methods -->
<script src="../static/js/material-dashboard.js"></script>
{% block script %}
{% endblock %}
</html>
