{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header" data-background-color="red">
                  <h4 class="title">Ubicación y detalles</h4>
                  <p class="category">Selecciona un punto en el mapa y agrega la información correspondiente:</p>
                </div>
                <div class="card-content">
                  <form method="post" onsubmit="assignZone()">
                    {{ form.hidden_tag() }}
                    <div class="row">
                      <div id="map_report"></div>
                    </div>
                    {{ form.coordinates_lng }}
                    {{ form.coordinates_lat }}
                    {{ form.zone }}
                    <div class="row">
                      <div class="col-md-4">
                        <div>
                          {{ form.crime.label(class="control-label") }} {{ form.crime }}
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          {{ form.hour.label(class="control-label") }} {{ form.hour }}
                        </div>
                      </div>
                      <div class="col-md-2 float-right">
                        <div>
                            {{ form.reference.label(class="control-label") }} {{ form.reference }}
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            {{ form.date.label(class="control-label") }} {{ form.date(class='input-group date', id="dtpick")}}
                            {% for error in form.date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                              <div class="form-group label-floating">
                                <label class="control-label">Detalles: Cuéntanos más a detalle lo que pasó y lo que viste.</label>
                                {{ form.details(class="form-control") }}
                                {% for error in form.details.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                              </div>
                          </div>
                        </div>
                      </div>
                        {{ form.submit(class="btn btn-success pull-right") }}
                        <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="../static/js/gdl.js" type="text/javascript"></script>
  <script>
    $(function() {
      $( "#dtpick" ).datepicker( {
        dateFormat: 'dd-mm-yy',
        maxDate: new Date
      });
    });

    $(function(){
       $(window).load(function(){
          for (var i = polygons.length - 1; i >= 0; i--) {
            polygons[i].setMap(map);
          }
       });
    });

    var marker;
    var uluru = {lat: 20.6556096, lng: -103.331120};
    var map = new google.maps.Map(document.getElementById('map_report'), {
      zoom: 13,
      center: uluru,
      draggableCursor: 'default'
    });
    var prevMarker = new google.maps.Marker({
      position: uluru,
      map: map
    });

    google.maps.event.addListener(map, 'click', function(e) {
      prevMarker.setMap(null)
      placeMarker(e.latLng, map);
      $("#coordinates_lat").val(prevMarker.position.lat());
      $("#coordinates_lng").val(prevMarker.position.lng());
      assignZone();
    });

    function placeMarker(position, map) {
      marker = new google.maps.Marker({
        position: position,
        map: map
      });
      prevMarker = marker;
      map.panTo(position);
    }

    function assignZone() {
      point = new google.maps.LatLng(prevMarker.position.lat(), prevMarker.position.lng());
      for(var i = 0; i < polygons.length; i++) {
        if (google.maps.geometry.poly.containsLocation(point, polygons[i])) {
            $("#zone").val(i + 1);
            console.log(document.getElementById("zone").value)
            break;
        }
      }
    }
  </script>
{% endblock %}